@import "variables";

@media only screen and (min-width: 780px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


    .heading{
        margin: 5% !important;
    }

    .width70{
        width: 70vw !important;
        margin: 0 auto;
    }

    .nav-ul{
        display: flex;
        justify-content: space-around;
        
    }

    .hamburger{
        display: none;
    }

    #navLinks{ 
        display: flex;
        
        ul{
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            margin: 0;

        }
        a{
            color: white;
            padding: 1.5% 0;
        }
        #logo{
            font-family: diazo-mvb-ex-cond, sans-serif;
            font-size: 1.5em;
            padding: 0.7% 0;
        }
    }

    // dash
    .dashboard{

        .display-4{
            padding: 5% 0 2%
        }
        .dashboard-inner{
            width: 80vw;

        }
    }



    // auth


    .home-inner{
        margin: 5% auto;

    }
    .registerComponent{
        padding: 5% 0;

        .register{
            margin-bottom: 3%;

            .large{
                font-size: 3rem;
            }
        }

        
        .registerPage{
            .register-form{
                width: 50vw;
                margin: 0 auto;
    
                .my-1{
                    width: 30vw;
                }
    
            }
        }


        
    }

    .my-1{
        padding: 2%;
    }

    .signin{
        padding: 5% 0 !important;

        .header{
            font-size: 3rem;
        }

        .register{

            .text{
                font-size: 2rem !important;

            }
        }

        #signin-form{
            width: 50vw ;
            margin: 0 auto;

            .my-1{
                width: 30vw;
            }

        }
    }




    // profiles :
    .profilesPage{

        h1{
            margin: 3% 0;
            font-size: 3rem;
        }

        .profiles{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 70vw;
            margin: 0 auto;



        }

        .profileimage{
            width: 26%;
            margin: 1%;


        }

        .profiledisplay{
            width: 100%;

            .round-img{
                width: 80%;
            }

            .profile-top{

                width: 75%;
                h2{
                    font-size: 1.5rem;
                }
                h3{
                    font-size: 1.25rem;
                }
            }

            .text{
                width: 75%;
                margin: 0 auto;
            }



        }

    }


    // filter posts
    


    // posts :

    #addPostDiv{
        width: 40vw;

    }
    .postsDiv{

        .postBgTransparent{


            .posts{
                .postCard{
                    padding: 1.5%;
                    margin: 1%;
                }
            }
            .postHeading{
                padding: 2% 0 1%;
            }

            .filters{
                width: 60vw !important;
                margin: 1% auto;
                padding: 2%;

                p{
                    font-size: 1.25rem;
                }
                .Dropdown-control{
                    font-size: 1rem;
                }
                .Dropdown-menu{
                    font-size: 1rem;
                }
        
            }
        }
    }

    

    
    .width70{
        .posts{
            

            .postCard{
                
                flex: 20%;
        
                .titleLink{
                    .postTitle{
                        font-size: 1.35em;
                        
                    }
                }

                .postInfo{
                    h5{
                        font-size: 0.95em;
                        margin-top: 4%;
                    }
                    h3{
                        font-size: 1.25em;
                    }
                }
            }
        }
    }

    .singlePostTitle{
        padding: 2% !important;

        .singleTitleLink{
            #postTitle{
                font-size: 2em;
            }
        }
    }

    #postSections{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-top: 5%;
        padding-top: 3%;
        

        .singlePostInfo{
            width: 40vw;
            border-left: 1px solid black;
            padding-left: 2%;


            h5{
                font-size: 1.25em;
                margin: 0;
            }

            h3{
                font-size: 1.5em;
            }
            p{
                font-size: 1.25em;
            }
        }

        .authorInfo{
            margin: 0;
            padding-right: 5%;
            padding-bottom: 5%;
            width: 40%;
            p{
                font-size: 1.25em;
            }

            .crudBtns{
                .crudB{
                    padding: 3%;
                    margin: 0 2%;
                    border: none;
                    background-color: $green;

                }
            }
        }
    }




    // profiles page :
    .profileWrapper{
        width: 75vw;
        flex-wrap: wrap;



        #profileLink{
            width: 32%;
        }

        .profileCard{

            .profileTopSection{


                .profileTopDetails{

                    h2{
                        font-size: 1rem;
                    }
                    h3{
                        font-size: 1rem;
                        padding: 1% 0;

                    }
                    h4{
                        font-size: 0.85rem;
                    }

                }
            }

            .profileBottomSection{
                font-size: 0.75rem;
            }
        }
    }



    // profile forms : 

    // photo :
    .profilePhotoUpload{
        #photoLabel{
            font-size: 1.25rem;
        }
        #fileChosen{
            font-size: 1.25rem;
        }
    }


    // details and skills :

    
    .profileFormDiv{

        .profileForm{

            label{
                font-size: 1.25rem;
            }
        }

        .doubleFields{
            width: 48%;
        }
        
        .profileFormSection{
            margin: 3%;
            padding: 4% 6%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            .doubleFields{
                margin: 1% 1%;
            }
            input{
                font-size: 1rem;
            }

            .bio{
                width: 80vw;
            }

           
            .desc{
                margin: 1%
            }
            .description{
                width: 39vw;
                margin: 0;
            }
            p{
                font-size: 0.75rem;
            }
        }
        input[type=text], input[type=date]{
            font-size: 1rem;
        }

        .skillsFormSection{
            padding: 4% 6%;
            background-color: transparent;

            .greySection{
                width: 49%;

                .skillsDisplayInput{
                    background-color: $grey;
                    padding: 5%;

                }
            }

            .skillsFormDisplay{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .skillExperience{
                background-color: $grey;
                padding: 3%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;


                .Dropdown-control{
                    padding: 0 2%;
                }

                .yearsExp{
                    margin: 3% 0;
                }

                .formFields{
                    width: 49%;
                }
            }

        }
    }

    // buttons at bottom of page :

    .navigationDiv{
        .nextBtn{
            font-size: 1.25rem;
        }
    }

    // work :

    .profileFormDiv{
        .recentWork{

            h3{
                padding: 4% 6%;
                background-color: transparent;

            }

            .recentWorkInfo{
                background-color: $grey;
                width: 50vw;
                padding: 4% 6%;
            }
        }
    }

    
    

    

    



















    // profile displays :

    #profile{
        margin-top: 5%;

        


        .profileImgName{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 5%;

            

            .profileImageDisplay{
                width: 25%;
                margin: 0 3% 0 0;
                order: 2;

                

                .profileImg{
                    width: 60%;
                    padding-top: 60%;
                }

                .status-desktop{
                    display: block;
                    background-color: #d4ffc2;
                    padding: 3%;
                    text-align: center;
                    width: 80%;
                    margin: 3% auto 0;
                }
    
            }



            .nameLocation{
                width: 25%;
                margin: 0 3%;
                order: 1;

                #username{
                    font-size: 3rem;
                }
                #name{
                    font-size: 1.75rem;
                }
                #location{
                    font-size: 1.5rem;
                }
            }

            .personalDetails{
                width: 20%;
                margin: 0 3%;
                order: 3;


                

                .status{
                    display: none;
                }
                .experienceDesc{
                    font-size: 1.25rem;
                    padding: 7% 3%;
                    background-color: #fff;
                    border: 2px solid $green;
                    border-radius: 3px;
                    margin-top: 2%;

                    .experienceLevel{
                        padding-bottom: 5%;
                    }

                    h2{
                        border-top: 2px solid $green;
                        padding-top: 5%;
                        font-size: 1.25rem
                    }
                }
            }
        }
        

        .bioAndLinks{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            // margin: 0 auto;

            .bio{
                font-size: 1.5rem;
                width: 40%;
                padding: 2% 4%;
                margin: 0;
            }

            .linksDisplay{
                width: 40%;
                padding: 2% 4%;

                .linkDiv{
                    a{
                        width: 30%;
                        font-size: 1.25rem;
                    }
                }

                
            }
        }

        .workAndEdu{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            margin-top: 3%;


            .workDisplay > h2, .eduDisplay > h2{
                font-size: 1.5rem;
                font-weight: 400;
            }
            .workDisplay > h3, .eduDisplay > h3{
                font-size: 1.25rem;
            }
            

            .workDisplay{
                padding: 2% 4%;
                width: 40%;

                background-color: rgba(117, 172, 180, 0.2);
            }
            .eduDisplay{
                padding: 2% 4%;
                width: 40%;

                background-color: rgba(117, 172, 180, 0.2);
            }
        }

        .skillsDisplay{
            padding: 2% 4%;
            width: 80%;
            border: 2px solid $green;
            border-radius: 3px;
            margin: 3% auto;

            .skillsDiv{
                .skills{
                    font-size: 1.25rem !important;
                    padding: 1% 4%
                }
            }
            
        }
        

    }
    
    

    



}