.postUpvotes .upvoteButton {
  cursor: pointer;
}

.filters {
  border: 1px solid #75ACB4;
  border-radius: 5px;
  padding: 4%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70vw;
  margin: 5% auto;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.filters p {
  margin: 0 0 2%;
}

.filters .Dropdown-root {
  margin: 0 0 3%;
}

.filters .Dropdown-control, .filters .Dropdown-menu {
  border: 1px solid #75ACB4;
  border-radius: 3px;
  padding: 0.25rem;
  color: black;
}

.filters .Dropdown-control .Dropdown-option, .filters .Dropdown-menu .Dropdown-option {
  color: black;
  padding: 0.25rem;
}

.filters .Dropdown-control {
  margin: 3% 0;
}

.filters .filterBtn {
  margin-top: 4%;
}

.filters .filterBtn button {
  background-color: #75ACB4;
  color: white;
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 1% 0;
  font-size: 1em;
}

#addPostDiv {
  margin: 3% auto;
  width: 80vw;
}

#addPostForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#addPostForm .addPostField {
  width: 100%;
  margin-bottom: 3%;
}

#addPostForm .addPostSubmit {
  width: 10vw;
  margin: 0 auto;
}

.postBgImage {
  background: url("./../img/post-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

#addPostForm {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6%;
}

.postsDiv .postBgTransparent {
  background-color: rgba(255, 255, 255, 0.3);
  width: 80vw;
  margin: 0 auto;
}

.postsDiv .postBgTransparent .postHeading {
  text-align: center;
  padding: 5% 0;
}

.postsDiv .postBgTransparent .postHeading h4 {
  font-size: 3rem;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5%;
}

.postCard {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 4%;
  border: 1px solid #75ACB4;
  margin: 4% auto;
  width: 70vw;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.postCard .titleLink {
  text-decoration: none !important;
}

.postCard .titleLink .postTitle {
  color: #75ACB4;
  font-size: 1.5em;
}

.postCard .postInfo h5 {
  font-weight: 500;
  margin-top: 3%;
  font-size: 1em;
}

.postCard .postInfo h3 {
  font-weight: 300;
  font-size: 1.2em;
  margin-top: 3%;
}

.postCard .postInfo .upVotesDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.postCard .postInfo .upVotesDiv .upVotes {
  color: #75ACB4;
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 0;
}

.singlePostTitle {
  background: rgba(0, 0, 0, 0.5);
  padding: 5%;
}

.singlePostTitle .singleTitleLink {
  text-align: center;
  text-decoration: none;
}

.singlePostTitle .singleTitleLink h1 {
  color: #fff;
  font-family: diazo-mvb-ex-cond, sans-serif;
  font-weight: 100;
}

#postSections {
  background-color: rgba(255, 255, 255, 0.8);
  width: 80vw;
  margin: 3% auto;
}

.singlePostInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.singlePostInfo h5 {
  margin: 5% 0 0;
  font-size: 1.25em;
  font-weight: 500;
}

.singlePostInfo h3 {
  margin: 1% 0 10%;
  font-weight: 200;
  font-size: 1.5em;
  color: #75ACB4;
  text-decoration: underline;
}

.singlePostInfo p {
  margin: 3% 0;
  font-size: 1.25em;
  line-height: 1.5;
  margin: 0 5%;
}

.authorInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 10%;
}

.authorInfo .postUsername {
  font-size: 1.25rem;
  font-weight: 600;
}

.authorInfo .postDesc {
  border: 1px solid #75ACB4;
  border-radius: 3px;
  padding: 5%;
  margin: 0 5%;
}

.authorInfo .postUpvotes {
  font-size: 2rem;
  font-weight: 600;
  color: #75ACB4;
  padding: 5%;
}
/*# sourceMappingURL=Posts.css.map */