


// add posts

#addPostDiv{
    margin: 3% auto;
    width: 30vw;

}

#addPostForm{
    display: flex;
    flex-direction: column;

    

    .addPostField{
        width: 100%;
        margin-bottom: 3%;
        
    }

    .addPostSubmit{
        width: 10vw;
        margin: 0 auto;
    }
}




// edit posts



// posts



// single post