@import "variables";



// upvotes : 

.postUpvotes{

    .upvoteButton{
        cursor: pointer;
    }
}


// post filters

.filters{
    border: 1px solid $green;
    border-radius: 5px;
    padding: 4%;
    display: none;
    flex-direction: column;
    width: 70vw;
    margin: 5% auto;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

    p{
        margin: 0 0 2%;
    }
    .Dropdown-root{
        margin: 0 0 3%;
    }
    .Dropdown-control, .Dropdown-menu{
        border: 1px solid $green;
        border-radius: 3px;
        padding: 0.25rem;
        color: black;

        .Dropdown-option{
            color: black;
            padding: 0.25rem;
        }
    }
    .Dropdown-control{
        margin: 3% 0;
    }



    .filterBtn{
        margin-top: 4%;
        

        button{
            background-color: $green;
            color: white;
            width: 100%;
            border-radius: 3px;
            border: none;
            padding: 1% 0;
            font-size: 1em;
        }
        

    }
}

// add posts

#addPostDiv{
    margin: 3% auto;
    width: 80vw;

}

#addPostForm{
    display: flex;
    flex-direction: column;

    

    .addPostField{
        width: 100%;
        margin-bottom: 3%;
        
    }

    .addPostSubmit{
        width: 10vw;
        margin: 0 auto;
    }
}








// posts
.postBgImage{
    background: url('./../img/post-bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
}

#addPostForm{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 6%;
}

.postsDiv{

   
    


    .postBgTransparent{
        background-color: rgba(255, 255, 255, 0.3);
        width: 80vw;
        margin: 0 auto;

        .postHeading{
            text-align: center;
            padding: 5% 0;
            // color: ;
            h4{
                font-size: 3rem;
            }
            
        }
    }
}

.posts{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.postCard{
    background-color: rgba(255, 255, 255, 0.95);
    padding: 4% ;
    border: 1px solid $green;
    margin: 4% auto;
    width: 70vw;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    .titleLink{
        text-decoration: none !important;
        .postTitle{
            color: $green;
            font-size: 1.5em;
            
        }
    }

    .postInfo{
        h5{
            font-weight: 500;
            margin-top: 3%;
            font-size: 1em;
        }
        h3{
            font-weight: 300;
            font-size: 1.2em;
            margin-top: 3%;
        }
        .upVotesDiv{
            display: flex;
            justify-content: flex-end;
            .upVotes{
                color: $green;
                font-weight: 700;
                font-size: 1.25em;
                margin-bottom: 0;
            }
        }
        
        
    }
}


// single post


.singlePostTitle{
    background: rgba(0, 0, 0, 0.5);
    padding: 5%;

    .singleTitleLink{
        text-align: center;
        text-decoration: none;
        

        h1{
            color: #fff;
            font-family: $dvb;
            font-weight: 100;
            
        }
    }
}
#postSections{
    background-color: rgba(255, 255, 255, 0.8);
    width: 80vw;
    margin: 3% auto;



}


.singlePostInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    // width: 80vw;
    // margin: 0 auto;

    h5{
        margin: 5% 0 0;
        font-size: 1.25em;
        font-weight: 500;
    }
    h3{
        margin: 1% 0 10%;
        font-weight: 200;
        font-size: 1.5em;
        color: $green;
        text-decoration: underline;

    }
    p{
        margin: 3% 0;
        font-size: 1.25em;
        line-height: 1.5;

        margin: 0 5%;
        

    }
}

.authorInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;

    .crudBtns{
        padding-bottom: 5%;
        .crudB{
            padding: 3%;
            margin: 0 2%;
            border: none;
            background-color: $green;


        }
    }

    a {
        color: $green;

        &:hover{
            color: $green;
        }
    }

    .postUsername{
        font-size: 1.25rem;
        font-weight: 600;

    }
    .postDesc{
        border: 1px solid $green;
        border-radius: 3px;
        padding: 5%;
        margin: 0 5%;

    }
    .postUpvotes{
        font-size: 2rem;
        font-weight: 600;
        color: $green;
        padding: 5%;
        

    }
}