@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://use.typekit.net/buj1oiz.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.heading {
  text-align: center;
  margin: 8% 0;
}

.heading h4 {
  font-size: 1.25rem;
}

.headingFont {
  font-family: diazo-mvb-ex-cond, sans-serif;
  font-weight: 200;
}

.filterText {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #75ACB4;
  width: 100vw;
  text-align: center;
}

#navbar a {
  color: #000;
  text-decoration: none;
}

.hamburger {
  display: block;
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 3.6% 0 3.5% 90%;
}

.hamburger:focus {
  outline: none;
}

#navLinks {
  width: 100%;
}

.navLinkStyles {
  margin: 10px;
  margin-left: 20px;
  margin-right: 80px;
}

.closedNav {
  display: none;
}

.openNav {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #fff;
  width: 100vw;
  padding: 3%;
  -webkit-box-shadow: 0 15px 15px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 15px 1px rgba(0, 0, 0, 0.25);
}

.openNav a {
  font-size: 1.5em;
  padding: 3%;
}

.home {
  position: relative;
  background: url("../img/home.jpg") no-repeat center center/cover;
  height: 100vh;
}

.home-inner {
  color: #fff;
  height: 100%;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 26%;
}

.homelead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.homebuttons {
  height: '100%';
  -webkit-box-align: 'center';
      -ms-flex-align: 'center';
          align-items: 'center';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0%;
}

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.display-4 {
  text-align: center;
  position: relative;
}

.lead2 {
  text-align: center;
}

.lead3 {
  color: #1e741b;
  font-size: 24px;
}

.profilebutton {
  margin-top: 25px;
}

.experience {
  position: relative;
  background: url("../img/experience.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.qualifications {
  position: relative;
  background: url("../img/qualification.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.dashboard {
  position: relative;
  background: url("../img/dashboard.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.signin {
  position: relative;
  background: url("../img/signin.jpg") no-repeat center center/cover;
  height: 100vh;
  color: black;
  text-align: center;
}

.signup {
  position: relative;
  background: url("../img/signup.jpg") no-repeat center center/cover;
  height: 100vh;
  color: black;
  text-align: center;
}

.form-signup {
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 30px;
}

.text-signup {
  margin-top: 50px;
}

.ending {
  margin-top: 30px;
}

.dashbuttons {
  color: black;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
  padding-left: 5%;
  padding-right: 3%;
  color: black;
}

.checkbox {
  font-size: 24px;
  color: black;
  font-weight: bold;
  padding-right: 60%;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}

.form .social-input i.fa-facebook {
  color: #3b5998;
}

.form .social-input i.fa-instagram {
  color: #3f729b;
}

.form .social-input i.fa-youtube {
  color: #c4302b;
}

.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.table th {
  background: var(--light-color);
  color: #000000;
  padding-left: 3%;
}

.header {
  text-align: center;
  color: #000000;
}

.small {
  padding-left: 2%;
}

.socialbutton {
  padding-left: 5%;
}

.break {
  text-align: center;
}

.dashboardheadings {
  color: #ffffff;
  padding-top: 20px;
  font-weight: lighter;
}

:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: rgb(255, 255, 255);
  --color-secondary: #75acb4;
  --color-tertiary: rgb(0, 0, 0);
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.multi-button {
  padding-left: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-shadow: var(--shadow) 4px 4px;
          box-shadow: var(--shadow) 4px 4px;
}

.multi-button button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding: calc(var(--space) / 1.125) var(--space) var(--space);
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  -webkit-transition: flex-grow var(--duration) var(--ease), -webkit-box-flex var(--duration) var(--ease);
  transition: flex-grow var(--duration) var(--ease), -webkit-box-flex var(--duration) var(--ease);
  transition: flex-grow var(--duration) var(--ease);
  transition: flex-grow var(--duration) var(--ease), -webkit-box-flex var(--duration) var(--ease), -ms-flex-positive var(--duration) var(--ease);
}

.multi-button button + button {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.multi-button button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover button:focus:not(:hover) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.multi-button button:active {
  -webkit-transform: translateY(var(--border-size));
          transform: translateY(var(--border-size));
}

h3 {
  margin-top: -20px;
}

.buttonhome {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  width: 200px;
  display: table;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 5px 0px white;
          box-shadow: 0px 0px 5px 0px white;
  -webkit-transition: background .5s;
  transition: background .5s;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.buttonhome span {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #2D3142;
  -webkit-box-shadow: 0 0 0 3px #2D3142 inset;
          box-shadow: 0 0 0 3px #2D3142 inset;
  background: transparent;
}

.buttonhome .away {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.buttonhome .over {
  display: none;
}

.buttonhome:hover span.away {
  display: none;
}

.buttonhome:hover span.over {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.buttonhome:hover {
  background: #2D3142;
}
/*# sourceMappingURL=Styles.css.map */